<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ric.ov.TimeTable"
    android:versionCode="3"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23" />

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:theme="@style/Theme.Main">
        <!-- TODO unused widget -->
        <!--<receiver android:name=".Activities.WidgetProvider" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget" />-->
        <!--</receiver>-->

        <activity android:name=".Activities.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.EditClassActivity" android:label="@string/new_class" />
        <activity android:name=".Activities.ImportActivity" android:label="@string/import_name" />

        <activity android:name=".Activities.SchoolsActivity" android:label="@string/schools" />
        <activity android:name=".Activities.CoursesActivity" android:label="@string/sts" />
        <activity android:name=".Activities.ClassesActivity" android:label="@string/sts" />
    </application>
</manifest>
